* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e5e5eb;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

.category-box:hover {
    transform: scale(1.05s);
}

.logo img {
    max-width: 110px;
    height: auto;
    border-radius: 20px;
    padding-left: 10px;


}

.header {
    position: fixed;
    top: 0;
    transition: top 0.5s;
}

.navmenu {
    display: flex;
    align-items: center;
   
}

.navmenu a {
    color: #1a1a1a;
    font-size: 25px;
    text-transform: capitalize;
    padding: 10px 30px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover {
    transform: scale(1.1);
    color: rgb(60, 123, 123);
}

.nav-icon {
    display: flex;
    align-items: center;
    padding-right: -10px;
}

.nav-icon i {
    margin-right: 20px;
    color: #1a1a1a;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover {
    transform: scale(1.1);
    color: rgb(60, 123, 123);
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    font-size: 14px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#menu-icon {
    font-size: 30px;
    color: #1a1a1a;
    z-index: 10001;
    cursor: pointer;
}

#menu-icon:hover {
    transform: scale(1.1);
    color: rgb(60, 123, 123);
}
.product-grid {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
}

.product-item {
    width: calc(25% - 20px); /* Adjust as needed for margins or paddings */
    margin-bottom: 20px; /* Adjust as needed */
    text-align: center;
}

/* Your existing CSS styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height of body to viewport height */
    margin: 0;
}

.grid-container {
    flex: 1; /* Take remaining vertical space */
}

.footer {
    position: relative;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(219, 218, 218);
    padding: 32px;
   justify-content: center;
   margin-top: auto;
}


.footer .Ftext {
    margin-inline: 72px;
}

.Ftext p {
    margin-top: 22px;
}





